!!!
%head
  %title
    Tactical Tentical
  %link{rel:  "stylesheet", href: "/application.css", type: "text/css", media: "all"}
  %link{rel:"stylesheet", href:"http://cdn.graphalchemist.com/alchemy.min.css"}
  %script{src: "https://code.jquery.com/jquery-2.1.3.min.js"}
  %link{rel:"stylesheet", href:"https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.css"}
  %script{src: "https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.js"}
  %script{src:"http://cdn.graphalchemist.com/alchemy.min.js"}
  %script{src:"/alchemy.js"}
  :css
    #toast-container > div { opacity: 1 }
%body
  #alchemy.alchemy{ style: "height: 100%; width: 100%"}
    %h1
      TACTICAL TENTICAL
    %fieldset
      %form{ action: "search", method: "POST", style: "float: left; margin-right: 3em"}
        %label URL
        %input{type: "text", name: "search"}
        %input{type: "submit", value: "Go"}
      %form{ action: 'delete', method: "GET", style: "float: left"}
        %input{type: "submit", value: "deltet all"}

:javascript
  window.onload = function(){
      (function(){
        var show = function(text){
          return toastr.info(text,
          {
            newestOnTop: false,
            progressBar: true,
            positionClass: 'toast-bottom-left',
            showDuration: 300,
            hideDuration: 1000,
            timeOut: 500,
            extendedTimeOut: 10000,
            showEasing: "swing",
            hideEasing: "linear",
            showMethod: "fadeIn",
            hideMethod: "fadeOut"
          });
        };

        var ws       = new WebSocket('ws://' + window.location.host + "/statuses");
        ws.onopen    = function()  { show('websocket opened'); };
        ws.onclose   = function()  { show('websocket closed'); }
        ws.onmessage = function(m) { show(m.data); };

          $(document).ready(function(){
            $("body").on("click", ".funtimes .tentical.extend", function(){
              link = $(this).parent(".funtimes").data("link")
              ws.send(JSON.stringify({extend: link}))
            })
          })

      })();
    }
