!!!
%haml
  %head
    %title
      Tactical Tentical
    %link{rel:  "stylesheet", href: "/application.css", type: "text/css", media: "all"}
    %link{rel:"stylesheet", href:"http://cdn.graphalchemist.com/alchemy.min.css"}
    %script{src: "https://code.jquery.com/jquery-2.1.3.min.js"}
    %script{src:"http://cdn.graphalchemist.com/alchemy.min.js"}
    :javascript
          alchemy.begin({
            dataSource: escape('/json' + window.location.pathname),
            clusterColours: ["#1B9E77","#D95F02","#7570B3","#E7298A","#66A61E","#E6AB02"],
            curvedEdges: true,
            linkDistance: 10,
            nodeFilters: true,
            nodeTypes: {"role":["Site", "Participant", "Comment"]},
            edgeTypes: {"caption": ["Contains", "Referred by"]},
            nodeColour: "#CCC",
            collisionDetection: false,
            captionsToggle: true,
            search: true,
            nodeCaption: "caption",
            edgeCaption: "caption",
            nodeMouseOver: function(node){;},
            nodeClick: function(node){window.open(node.getProperties("link"));},
            "nodeStyle": {
              "Site": {
                color: "#FFF",
                radius: 20
              },
              "Participant": {
                color: "#00EEEE",
          borderColor: "#2F4F4F"
              },
              "Comment": {
                color: "#8B008B"
              }
            },
            "edgeStyle": {
              "Contains": {
                color: "#fff",
                width: 10
              },
              "Referred by": {
                color: "#ff00f3",
                borderWidth: 10,
                width: 20
              }
            }
          })
%body
  #alchemy.alchemy{ style: "height: 100%; width: 100%"}
    %h1
      TACTICAL TENTICAL
    %fieldset
      %form{ action: "search", method: "POST", style: "float: left; margin-right: 3em"}
        %label URL
        %input{type: "text", name: "search"}
        %input{type: "submit", value: "Go"}
      %form{ action: 'delete', method: "GET", style: "float: left"}
        %input{type: "submit", value: "deltet all"}

